label, input, textarea, select{
    display: block;
    
}
.keepItInline{
    display:inline;
}
/* fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #4f3b4f;
  } */
form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
  }
#dropdown{
    margin:10px 0 0 0;
    width:100%;
  }
  h1, p {
    margin: 1em auto;
    text-align: center;
  }
  input, textarea{
  margin-top:8px;
  margin-bottom:8px;
}
body{
  background: linear-gradient(#5f5b6f,#3f3b4f)
}
input, select, textarea{
  background: linear-gradient(#3f3b4f, #5f5b6f, #3f3b4f);
}
